.navbar {
	display: flex;
	background-color: rgb(233, 107, 103);
}
.nav-list {display: flex;}
.nav-list a {
	display: block;
	padding: 1em;
	/* border-style: solid;
	border-width: 0.5px;
	border-color: black; */
	text-decoration: none;
	color:rgb(255, 255, 255);
}
