/* Контент */

body {
	margin: 0;
	padding: 0;
}
span {
	font-style: italic;
}
.list-container {
	border-style: solid;
	display: inline-block;
	border-width: 0.5px;
	padding-right: 10px;
}

.list-container > p {
	text-align: center;
	font-weight: bold;
}

/* img {
	float: right;
} */
.img-container {
	float: right;
	border-style: solid;
	padding: 5px;
	border-width: 0.5px;
	margin-left: 10px;
}
.img-container > div {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.logo-html5 {
	max-width: 70px;
}

/* Верхняя навигационная панель */
.nav-container {
	display: flex;
	justify-content: space-between;
	background-color: rgba(110, 163, 224, 0.411);
}
.nav-container > nav > ul {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
	align-items: center;
}
.nav-container > nav > ul > li > a {
	display: block;
	padding: 10px;
	border-style: solid;
	border-width: 0.5px;
	font-size: 12px;
}
@media (max-width: 900px) {
	.nav-container {
		flex-direction: column;
	}
}
.header {
	width: 14%;
	background-color: aquamarine;
}

.section {
	width: 82%;
}

.page{
	display: flex;
	justify-content: center;
}
.in-section {padding-left: 10px;}